<nav>
    <div class="sidetitle">
      <a href="/"><h1>Rahul Blogs</h1></a>
      <p>These are my blogs</p>
    </div>
    <ul>
      <li><a href="/">Blogs</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/blogs/create">New Blogs</a></li>
    </ul>
  </nav>