<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About Us</h2>
        <h3>Hello, I am Rahul</h3>
        <p>This is my blog page where I will be posting information related to technolgy and personal development.</p>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>