<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut architecto nemo quae dolore dicta sequi voluptate cum quidem magnam, aperiam voluptas pariatur doloremque voluptatem veritatis necessitatibus? Quo earum eveniet laboriosam?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut architecto nemo quae dolore dicta sequi voluptate cum quidem magnam, aperiam voluptas pariatur doloremque voluptatem veritatis necessitatibus? Quo earum eveniet laboriosam?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut architecto nemo quae dolore dicta sequi voluptate cum quidem magnam, aperiam voluptas pariatur doloremque voluptatem veritatis necessitatibus? Quo earum eveniet laboriosam?</p>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>